/.pnp
.pnp.js
.yarn/install-state.gz
/node_modules
/public/build
/public/hot
/public/storage
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/
/vendor
.env
.env.backup
.phpunit.result.cache